@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelade&display=swap');

body {
  /*background-color: hsl(350, 100%, 50%);*/
  background-image: url('./assets/bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  margin:0;
  padding:0;
}
/*
body {
  background-image: url('./assets/bg.png');
}
  */


.background-red {
  background-color: hsl(350, 100%, 50%);
  height: 100%;
  width: 100%;
  padding-bottom: 49px;
  /*border: 5px solid black;
  border-radius: 5px;
  padding: 10px;*/
}
.pokedex-header-container {
  display: flex;
  align-items: center;
  align-content: stretch;
  justify-content: space-between;
  height: 80%;
  width: 100%;
}

.pokedex-header {
  text-align: left;
  font-size: 2rem;
  color: hsla(0, 100%, 25%, 0.795);
  font-weight: bold;
  font-family: fantasy;
  text-decoration: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
}
.pokedex-header img{
  height: 8vh;
}
.pokedex-header:hover {
  color: hsla(0, 100%, 15%, 0.795);

}
.pokedex-header:visited {
  color: hsla(0, 100%, 25%, 0.795);
}
.pokedex-header:visited:hover {
  color: hsla(0, 100%, 15%, 0.795);
}
.pokedex-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  align-content: center;
  font-size: 2rem;
  font-family: monospace;
  border: 0.5vh solid black;
  border-radius: 2vw;
  margin: 0 5vw;
  background-color: hsl(182, 15%, 62%);
  padding-bottom: 1vh;
}

.pokedex-controls {
  font-weight: 200;
  color: hsl(0, 0%, 37%);
  padding: 1vh;
}

.pokedex-controls button {

  border: none;
  border-radius: 1vw;
  font-size: 3vh;
  padding: 3vh 2vw;
  background-color: transparent;/*hsl(214, 76%, 40%);*/
  margin: 5px;
  transition: background-color 1s ease;
  max-width: 10vw;
  height: 100%; 

}

.pokedex-controls button:enabled:hover {
  background-color: hsl(214, 76%, 30%);
  transition-duration: 0.1s;
  cursor: pointer;
  opacity: 60%;
}

.pokedex-controls button:disabled {
  opacity: 20%;
}
  
.pokedex-controls img:hover {
  filter: invert(1);
}


.pokedex-display {
  flex: 10;
  height: 85vh;
  align-items: center;
  align-content: center;
  justify-content: center;

  margin-top: 20px;
  
}
.pokedex-display ul {
  list-style-type: none;
  flex-wrap: wrap;

}
.pokedex-display ul li{
  list-style-type: none;
  height: 6vh;
  font-size: 2rem;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.back {
  background-image: url('./assets/back.png');
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
}
.next {
  background-image: url('./assets/next.png');
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;

}
.next-container {
  display: flex;
  justify-content: flex-end;
}

.link {
  text-decoration: none;
  color: black ; /* Remove default underline */
}

.link:visited {
  color: black ; /* Prevent color change on visited links */
}
.pokemon-card {
  margin: 5px;
  font-family: 'Press Start 2P', 'Pixelade','Roboto', sans-serif;
  text-decoration: none;
  border-radius: 5px;
  font-size: max(2vw,2vh);
  height: 10vh;

  display: flex;
  background-color: hsl(0, 0%, 85%);
  text-align: center;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.pokemon-card img{
  min-width: 10vh;
  min-height: 10vh;
  width: 5vw;
  height: 5vw;
  margin-right: 2vw;
  
}

.pokemon-card:hover {
  cursor: pointer;
  background-color: hsl(0, 0%, 75%);
}



.pokemon-container {
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  align-content: flex-start;
  font-size: 3vw;
}

.pokemon-not-found {
  font-family: 'Press Start 2P', 'Pixelade','Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  align-content: flex-start;
  margin: 50px;
}

.pokemon {
  font-family: 'Press Start 2P', 'Pixelade','Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  align-content: flex-start;
  margin: 50px;
  font-size: 2vh;
}

.pokemon h3 {
  font-size: 2vh;
}



.pokemon ul li img{
  width: 10vh;
  
}

.pokemon div{
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
}
.pokemon div h1 {
  
  font-weight: bold;
  padding-left: 15px;
  display: flex;
  font-size: 3vh;
  width: 10vw;

}

.pokemon-type {
  border: min(0.3vw,0.3vh) solid gray;
  border-radius: min(0.5vw,0.5vh);
  width: 10vw;
  height: auto;
  padding: 0;
  object-fit: cover;
}

.pokemon-profile {
  border: min(0.3vw,0.3vh) solid gray;
  min-width: 10vh;
  min-height: 10vh;
  width: 5vw;
  height: 5vw;
  border-radius: 40%;
}

.types-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  align-content: center;
}

.searchbar-container {
  display: inline-flex;
  height: 3vh;
  font-family: 'Press Start 2P', 'Pixelade','Roboto', sans-serif;
  border: 3px solid hsl(0, 0%, 70%);
  border-radius: 5px;
  align-content: stretch;
}
.searchbar-container input{
  background-color: hsl(0, 0%, 85%);
  max-width: 15vw;
  max-height: 5vh;
  font-family: 'Press Start 2P', 'Pixelade','Roboto', sans-serif;
  font-size: 1vh;
  border-width: 0px;
  border-radius: 2px;
  margin-right: -2px;
}
.searchbar-container button {
  background-color: hsl(0, 0%, 85%);
  border-width: 0px;
}
.searchbar-container button:hover {
  cursor: pointer;
}

.searchbar-container button img{
  height: 2vh;
  font-family: 'Press Start 2P', 'Pixelade','Roboto', sans-serif;
}
.searchbar-container input:active{
  border: none ;
}

.led-cover {
  border: 0.2vh solid black; /* Add a black border */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Create a subtle shadow for glossiness */
  border-radius: 50%;
  background-color: gray;
  display: inline-block;
  margin: 0 10px;
}
.led {
  width: 1vh;
  height: 1vh;
  border-radius: 50%;
  background-color: green;
  animation: lightup 0.7s infinite linear;
}

#yellow-led {
  animation-delay: 0.3s;
}

#green-led {
  animation-delay: 0.6s;
}

@keyframes lightup {
  0% {
    filter: brightness(80%);
  }
  100% {
    filter: brightness(150%);
  }
}

.landing-container {
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  align-items: stretch;
  justify-content: space-between;
}

.landing-header {
  padding-bottom: 5vh;

}

.landing-header img {
  height: 8vh;
}

.landing-body {
  display: flex;
  align-items: flex-start;
  align-content: stretch;
  align-items: stretch;
  flex-direction: column;
  font-family: 'Press Start 2P', 'Pixelade','Roboto', sans-serif;
  font-size: 2vh;
  font-weight: 100;
  padding: 2vw;
  border: 0.3vh solid lightblue;
  border-radius: 3px;
  margin: 0 2vw;
  background-color: rgba(240, 248, 255, 0.3);
  backdrop-filter: blur(10px);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  opacity: 90%;
  min-height: 40vh;
  width: 90%;
}

.landing-body-info {
  align-items: flex-start;
  align-content: stretch;
  align-items: stretch;
}

.landing-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-content: stretch;
  align-items: center;
  justify-content: flex-end;
  height: 20vh;
  width: 100%;
}

.landing-footer img{
  height: 8vh;
}

.running-image {
  animation: run 10s infinite ease;
}

.not-found-container {

  min-height: 100vh;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  align-items: stretch;
  justify-content: space-between;
}

.not-found-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-content: stretch;
  align-items: center;
  width: 100%;
}

.not-found-footer img{

  height: 20vh;
}

@keyframes run {
  0% {
    transform: translateX(-50%);
  }
  30% {
    transform: translateX(30%);
  }
  35% {
    transform: translateX(35%) translateY(-10px);
  }
  37% {
    transform: translateX(40%) translateY(0);
  }
  
  50% {
    transform: translateX(50%);
  }
  60% {
    transform: translateX(40%);
  }
  70% {
    transform: translateX(10%);
  }
  80% {
    transform: translateX(40%) translateY(-20px);
  }
  90% {
    transform: translateX(40%) translateY(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.shine-element {
  position: relative;
  /* ... other styles for the element ... */
}

.shine-element::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0)   
 100%);
  animation: shine 2s infinite;
}

@keyframes shine {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}


